/* Variables */
:root {
    --pink: #e39bdd;
    --blue: #a1a1f1;
    --black: #525457;
    --white: #f5f5f5;
}


/* Global color overrides */
html{
    color: var(--black);
    background-color: var(--white);
}
@media (prefers-color-scheme: dark) {
    html{
        color: var(--white);
        background-color: var(--black);
    }
}


html{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 21px;
    padding:0px;
    margin:0px;
}

body{
    height: 100vh;
    width: 100vw;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

/* Make flexgrid rows full-width */
.row{
    width: 100%;
}

.greeting-holder, .location-holder{
    height: 30px;
}

.greeting, .name{
    display: inline;
}

.clock{
    font-weight: 600;
    font-size: 120px;
    display: inline-block;
}
.ampm{
    display: inline-block;
    height: 97px;
    font-size: 33px;
    text-transform: uppercase;
    position: relative;
    bottom: 8px;
    margin-left: 12px;
}
.am,.pm{
    opacity: 0.2;
}
.am.active,.pm.active{
    opacity: 1.0;
}
.weekday{
    font-weight: 600;
    font-size: 31px;
}

.date{
    font-size: 26px;
}
.weather-holder{
    margin: auto;
}
.weather-icon{
    margin-top: -15px;
}
.weather-icon svg{
    width: 100px;
    height: 100px;
}
.weather-details-holder{
    padding-top: 36px;
    padding-left: 36px;
}
.temperature-holder{
    font-size: 120px;
    font-weight: 600;
    white-space: nowrap;
    position: relative;
}
.temperature-holder .degree{
    font-size: 54px;
    font-weight: 400;
    top: -50px;
    position: relative;
    right: -4px;
}
.weather-description{
    font-size: 28px;
    margin-left: 2px;
}
.temp-min, .temp-max{
    display: inline;
    position: relative;
    top: -4px;
    font-family: 'Roboto Mono', monospace;
}
